
<div class="container">
  <footer>
      <p> 2023 Restaurant Awards</p>
      <ul>
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/product">Product</a></li>
      </ul>
  </footer>
</div>