<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <%- include ('../includes/navigation.ejs') %>
</head>
<body>
    
    <div class="grid text-center" style="--bs-columns: 3;">
        <div>coding requires hard work</div>

        
        <div>problem solving skills</div>
        
        
        <div>rest of the coding</div>
        
      </div>
   



</body>
</html>



